<div class="pharmacogenetics-section">
    <div class="section-header">
        <h3>Фармакогенетика</h3>
        <div class="section-actions">
            <button
                v-if="!store.editing"
                class="btn-icon-edit"
                title="Редактировать фармакогенетику"
                @click="store.startEditing"
            >✎</button>
            <template v-if="store.editing">
                <button class="btn-save" @click="store.save">Сохранить</button>
                <button class="btn-cancel" @click="store.cancelEditing">Отмена</button>
            </template>
        </div>
    </div>

    <div v-if="store.saveError" class="save-error">{{ store.saveError }}</div>

    <div v-for="marker in store.markers" :key="marker.markerId" class="marker-item">
        <div class="marker-header">
            <strong>{{ marker.geneSymbol }}</strong>
            <span class="marker-fullname"> ({{ marker.fullName }})</span>
            <span v-if="marker.rsId" class="rs-id">{{ marker.rsId }}</span>
        </div>

        <div v-if="!store.editing" class="marker-value">
            <template v-if="marker.currentValue">
                <span class="genotype">{{ getGenotypeLabel(marker) || marker.currentValue }}</span>
            </template>
            <span v-else class="not-tested">Не исследовано</span>
        </div>

        <div v-else class="marker-edit">
            <select v-model="marker.editingValueId" class="form-control">
                <option :value="null">Не исследовано</option>
                <option v-for="opt in marker.possibleValues" :key="opt.id" :value="opt.id">
                    {{ opt.label }}
                </option>
            </select>
        </div>
    </div>
</div>