<div class="pharmacogenetics-section">
    <div class="section-header">
        <h3>Фармакогенетика</h3>
        <div class="section-actions">
            <button 
                v-if="!editing"
                class="btn-icon-edit"
                title="Редактировать фармакогенетику"
                @click="startEditing"
            >✎</button>
            <template v-if="editing">
                <button class="btn-save" @click="save">Сохранить</button>
                <button class="btn-cancel" @click="cancelEditing">Отмена</button>
            </template>
        </div>
    </div>

    <div v-if="saveError" class="save-error">{{ saveError }}</div>

    <div v-for="marker in markers" :key="marker.markerId" class="marker-item">
        <div class="marker-header">
            <strong>{{ marker.geneSymbol }}</strong>
            <span class="marker-fullname"> ({{ marker.fullName }})</span>
            <span v-if="marker.rsId" class="rs-id">{{ marker.rsId }}</span>
        </div>

        <div v-if="!editing" class="marker-value">
            <template v-if="marker.currentValue">
                <span class="genotype">{{ getGenotypeLabel(marker) || marker.currentValue }}</span>
                <span v-if="marker.testDate" class="test-date">Дата теста: {{ marker.testDate }}</span>
            </template>
            <span v-else class="not-tested">Не исследовано</span>
        </div>

        <div v-else class="marker-edit">
            <select v-model="marker.editingValueId" class="form-control">
                <option :value="null">Не исследовано</option>
                <option v-for="opt in marker.possibleValues" :key="opt.id" :value="opt.id">
                    {{ opt.label }}
                </option>
            </select>
            <input type="date" v-model="marker.editingTestDate" class="form-control" placeholder="Дата теста" />
            <textarea v-model="marker.editingComment" class="form-control" placeholder="Комментарий" rows="2"></textarea>
        </div>
    </div>
</div>