<PatientTable
  :tabs="tabs"
  v-model:activeTab="activeTab"
  :patients="patients"
  :loading="loading"
  :error="error"
  :totalPages="totalPages"
  :currentPage="currentPage"
  :pageInput="pageInput"
  :showDiagnosisFilter="false"
  @update:pageInput="pageInput = $event"
  @goToPage="goToPage"
  @nextPage="nextPage"
  @prevPage="prevPage"
  @firstPage="firstPage"
  @lastPage="lastPage"
>
  <template #thead>
    <tr>
      <th>#</th>
      <th>Статус SMS</th>
      <th>ФИО</th>
      <th>Возраст</th>
      <th>Диагноз</th>
      <th>МНО / Hb / Дополнительно</th>
      <th>Комментарий</th>
    </tr>
  </template>

  <template #tbody="{ patients }">
    <tr
      v-for="(patient, index) in patients"
      :key="patient.id"
      :class="{
        'highlight-red': patient.highlightRed,
        'highlight-blue': patient.highlightBlue
      }"
    >
      <td>{{ index + 1 }}</td>
      <td class="icon-cell">{{ patient.smsStatus }}</td>
      <td><router-link :to="`/patient/${patient.id}`">{{ patient.name }}</router-link></td>
      <td>{{ patient.age }}</td>
      <td>{{ patient.diagnosis }}</td>
      <td v-html="patient.indicators"></td>
      <td class="comment">{{ patient.comment }}</td>
    </tr>
  </template>
</PatientTable>